In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Retrieve news title and description
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
    
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
    
news_article = soup.find('li', class_='slide')

news_title = news_article.find('div', class_="content_title").get_text()
news_p = news_article.find('div', class_="article_teaser_body").get_text()

In [4]:
news_title

'NASA Social Media and Websites Win Webby Awards '

In [5]:
news_p

'NASA\'s social media presence, the InSight mission social media accounts, NASA.gov and SolarSystem.NASA.gov will be honored at the 2019 Webby Awards - "the Oscars of the Internet."'

In [6]:
# Retrieve featured image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
    
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

featured_image = soup.find('a', class_='button fancybox')['data-fancybox-href']

featured_image_url = 'https://www.jpl.nasa.gov' + featured_image

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14417_ip.jpg'

In [7]:
# Retrieve tweet
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
    
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

first_tweet = soup.find('li', class_='js-stream-item stream-item stream-item')

tweet_p = first_tweet.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

tweet_p.a.extract()

mars_weather = tweet_p.get_text()
mars_weather

'InSight sol 145 (2019-04-24) low -98.1ºC (-144.6ºF) high -19.3ºC (-2.8ºF)\nwinds from the SW at 4.4 m/s (9.8 mph) gusting to 11.6 m/s (26.1 mph)\npressure at 7.40 hPa'

In [8]:
# Scrape info table
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [9]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:

# Scrape hemispheres and images
hemisphere_image_urls =[]

for i in range(4):
    
    img_dict ={}
    
    url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url)
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    items = soup.find_all('div', class_='item')
    
    img_dict['title'] = items[i].find('h3').get_text()
    
    results = browser.find_by_tag('h3')
    results[i].click()
    
    img_dict['img_url'] = browser.find_by_text('Sample')['href']
    
    hemisphere_image_urls.append(img_dict)

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]